@media (orientation: portrait) {
    /*Форма результата теста*/
    .testres{
      font-size: 12px;
      display: grid;
      grid-auto-columns: minmax(min-content,max-content);
      grid-row-gap: 5px;
      color: black;
      padding: 5px;
      box-shadow: 0 0 50px rgba(55,55,55,1);
      background-color: white;
      justify-items:stretch;
    }
    .num{ grid-area: n;  width: 30px;}
    .qimg{  grid-area: qi;  width: 100px;  justify-self: left;  align-self:  center;}
    .questtext{  background-color: white;  grid-area: q;}
    .testres>div.item{
      grid-template-areas:
        "n q q "
        "qi qi ra"
       "qi qi wa" ;
      grid-template-columns: 25px 70px 1fr;
      background-color: orange;
      padding: 5px;
      border: 1px solid black;
      display: grid;
      grid-gap: 5px;
      justify-self:stretch;
    }
    .testres img{  height: 50px;}
    .finalresult{  font-size: 12pt; font-weight: 700;}

    .rightresult{ grid-area: ra; padding: 5px; text-align: left; background-color: green; color: white; }
    .wrongresult{  grid-area: wa; padding: 5px; text-align: left; background-color: red; color: white; }
}

@media (orientation: landscape) {
    /*Форма результата теста*/
    .testres{
      display: grid;
      grid-auto-columns: minmax(min-content,max-content);
      grid-row-gap: 5px;
      color: black;
      padding: 5px;
      box-shadow: 0 0 50px rgba(55,55,55,1);
      background-color: white;
      justify-items:stretch;
    }

    .num{ grid-area: n;  width: 30px;}
    .qimg{  grid-area: qi;  width: 100px;  justify-self: left;  align-self:  center;}
    .questtext{  background-color: white;  grid-area: q;}
    .testres>div.item{
      grid-template-areas:
        "n qi q  q"
        "n qi ra wa" ;
      grid-template-columns: 30px 150px 1fr 1fr;
      background-color: orange;
      padding: 5px;
      border: 1px solid black;
      display: grid;
      grid-gap: 5px;
      justify-self:stretch;
    }
    .testres img{  height: 50px;}
    .finalresult{  font-size: 20pt; font-weight: 700;}

    .rightresult{ grid-area: ra; padding: 5px; text-align: left; background-color: green; color: white; }
    .wrongresult{  grid-area: wa; padding: 5px; text-align: left; background-color: red; color: white; }
}

.statres{
  visibility:visible; 
}
