    /*Форма результата теста*/
    .testres{
      display: grid;
      grid-row-gap: 5px;
      grid-template-areas:
        "th th" "ts tsp" "trs trs" "tss tss" "tsi tsi" "er er" ;
      color: black;
      padding: 5px;
      box-shadow: 0 0 50px rgba(55,55,55,1);
      background-color: white;
      margin: 30px;
      margin-bottom: 50px;
    }

    .testres>.header      {grid-area:th;font-size: 30pt; font-weight: 700;justify-self:center; }
    .testres>.stat        {grid-area:ts;font-size: 20pt; font-weight: 700; justify-self:right;}
    .testres>.statpercent {grid-area:tsp;  font-size: 20pt; font-weight: 700;justify-self:left;}
    .testres>.statscore   {grid-area:tss;  font-size: 20pt; font-weight: 700;justify-self:center;display: none;}
    .testres>.statimg     {grid-area:tsi;  font-size: 20pt; font-weight: 700;}
    .testres>.resumeString{grid-area:trs; font-size: 30pt; font-weight: 700;}

    .testres>.errors{ grid-area:er; }
    .hide{display: none;}
    .testres>.errors>.item{
      grid-template-areas:
        "n qi q  q"
        "n qi ra wa" ;
      grid-template-columns: 30px 150px 1fr 1fr;
      background-color: orange;
      padding: 5px;
      border: 1px solid black;
      display: grid;
      grid-gap: 5px;
      justify-self:stretch;
      margin-top: 3px;
    }

    .num      { grid-area: n;  width: 30px;}
    .qimg     { grid-area: qi;  width: 100px;  justify-self: left;  align-self:  center;}
    .questtext{ grid-area: q;  background-color: white;}
    .rightresult{ grid-area: ra; padding: 5px; text-align: left; background-color: green; color: white; }
    .wrongresult{  grid-area: wa; padding: 5px; text-align: left; background-color: red; color: white; }
    .testres>.errors img{  height: 50px;}
    .statres{  display: inline;  visibility:visible;}
