


div.channList {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 1em;
}


img.useravatar{
  height: 100px
}

div.username{
  font-size: 24pt;
  font-weight: bold;
  vertical-align: text-bottom;
  align-content:f

}

.selectedPageNumber{
  font-size: 20pt;
  font-weight: bold;
}

.PageNumber{
  font-size: 20pt;
  font-weight:normal;
}

.btnFlw{
  color: red;
  font-size: 19pt;
}

.btnFlw:disabled{
  font-size: 19pt;
  color: white;
}
