div.login {
  display:inline;
  font-size: 12pt;
  font-weight: bolder;
  padding: 5px;
  outline-style:dotted;
  outline-width: 1px;
  position:fixed;
  background-color: white;
  right: 20px;
  top: 30px;
  text-align: center;
}

.login>div {
  padding-right: 5px;
}

.login> a {
  color: red;
}
